    <div class="se-pre-con"></div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand visible-xs" href="#">The wedding</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a class="scrollto" href="#welcome">Welcome</a></li>
            <li><a class="scrollto" href="#ceremony">Ceremony</a></li>
            <li><a class="scrollto" href="#story">Our Story</a></li>
            <li><a class="scrollto" href="#gallery">Gallery</a></li>
            <li><a class="scrollto" href="#registries">Registries</a></li>
            <li><a class="scrollto" href="#rsvp">RSVP</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- header -->
    <header style="background-image: url('images/church2.jpg');" id="welcome">
      <div class="overlay"></div>
      <div class="container">
        <div class="intro-content">
          <div class="title text-center">The Wedding Ceremony of</div>
          <div class="brand text-center">
            <h1 class="wow fadeInDown">Luiz</h1>
            <div class="heart">
              <i class="fa fa-heart" aria-hidden="true"></i>
            </div>
            <h1 class="wow fadeInDown">Callie</h1>
          </div><!-- brand -->
          <div class="location text-center">Kansas City</div>
          <div class="date text-center">2017 / 2018</div>
        </div><!-- intro-content -->
      </div><!-- container -->
    </header>


    <!--<div class="section section-parents">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="parents text-center wow fadeIn">
              <div class="title">Parents of the Groom</div>
              <h3>Mr. and Mrs. Smith</h3>
            </div><!-- parents -->
          <!--</div><!-- col 4 -->
          <!--<div class="col-md-6 col-sm-6">
            <div class="parents text-center wow fadeIn">
              <div class="title">Parents of the Bride</div>
              <h3>Mr. and Mrs. Brown</h3>
            </div><!-- parents -->
          <!--</div><!-- col 4 -->
        <!--</div><!-- row -->
      <!--</div><!-- container -->
    <!--</div><!-- section parents -->

    <div class="lead text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            We Cordially invite you to the wedding ceremony
          </div>
        </div>
      </div>
    </div><!-- lead -->

    <div class="section section-about" style="background-image: url('assets/img/pw_maze_white.png');">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="media media-about wow fadeInRight">
              <div class="media-body text-right">
                <div class="title">The Groom</div>
                <h2 class="media-heading">Luiz Chagas</h2>
                <p>
                 Luiz is a very laid back young man from Brazil. He loves animals and sports. He is often found
                 reading books about his computers. With a serious face, most people tend to believe he is planning
                 his next big move when he is actually thinking about dinner.
                </p>
              </div>
              <div class="media-right">
                <img class="media-object" src="images/groom-sq.jpg" alt="Picture of Luiz Chagas">
              </div>
            </div><!-- media -->
          </div><!-- col 6 -->
          <div class="col-md-6">
            <div class="media media-about wow fadeInLeft">
              <div class="media-left">
                <img class="media-object" src="images/bride-sq.jpg" alt="Picture of Callie Farrell">
              </div>
              <div class="media-body">
                <div class="title">The Bride</div>
                <h2 class="media-heading">Callie Farrell</h2>
                <p>
                 Callie is the thinker you wish you had on your team. She has a strong type A personality
                 but she knows how to relax sometimes! She plans her whole life twice everyday altough she
                 says it is stressfull. You can see she's happy by her precious smiles.
                </p>
              </div>
            </div><!-- media -->
          </div><!-- col 6 -->
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- section -->

    <div class="section section-dates parallax-window" id="ceremony" data-parallax="scroll" data-image-src="assets/img/dates-bg.jpg">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="dates-info wow fadeIn">
              <div class="ceremony">Wedding</div>
              <div class="location">Kansas City<br />Our Savior Lutheran Church</div>
              <div class="day-month">Jan 13th</div>
              <div class="year">2018</div>
              <div class="time">10:00 a.m.</div>
            </div><!-- dates info -->
          </div><!-- col 6 -->
          <div class="col-md-6 col-sm-6">
            <div class="dates-info wow fadeIn">
              <div class="ceremony">Reception</div>
              <div class="location">Kansas City - eggtc.<br />5107 Main St.</div>
              <div class="day-month">Jan 13th</div>
              <div class="year">2018</div>
              <div class="time">11:30 a.m.</div>
            </div><!-- dates info -->
          </div><!-- col 6 -->
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- section-dates -->

    <div class="section section-story" id="story">
      <div class="container">
        <h1 class="text-center wow fadeInDown">Our Story</h1>
        <div class="sub-title text-center wow fadeInDown">We were eating when we first met each other</div>
        <p class="text-center wow fadeIn">It was a normal day at school for these two lovers. Callie was a great Resident
        Assistant and was going to have dinner with her residents and Luiz really wanted to discuss a project with his
        classmate Matt, who happened to be one of Callie's residents. Matt invited Luiz for this dinner after class and said
        "You know everybody, maybe not Callie, but she's nice, she won't mind to have you there." In fact, Callie and Luiz
        became good friends shortly after that dinner and spent many afternoons talking about life after classes.</p>
      </div><!-- container -->
    </div><!-- section-story -->

    <!-- <div class="section section-gallery parallax-window" id="gallery" data-parallax="scroll" data-image-src="assets/img/gallery-bg.jpg"> -->
    <div class="section section-gallery" id="gallery" data-parallax="scroll" data-image-src="assets/img/gallery-bg.jpg">
      <div class="overlay overlay-light"></div>
      <div class="container text-center">
        <div class="row">
          <div class="col-md-12">
            <h1 class="wow fadeInDown">Gallery</h1>
            <div class="sub-title wow fadeInDown">Moments we have spent together</div>
          </div>
          <div class="col-md-4 col-sm-6 pic">
            <a href="images/cl-3.jpg" class="photo wow fadeInUp">
              <img src="images/cl-3.jpg" class="img-responsive">
            </a>
          </div>
          <div class="col-md-4 col-sm-6 pic">
            <a href="images/cl-5.jpg" data-wow-delay="0.5s" class="photo wow fadeInUp">
              <img src="images/cl-5.jpg" class="img-responsive">
            </a>
          </div>
          <div class="col-md-4 col-sm-6 pic">
            <a href="images/cl-2.jpg" data-wow-delay="1s" class="photo wow fadeInUp">
              <img src="images/cl-2.jpg" class="img-responsive">
            </a>
          </div>
          <div class="col-md-4 col-sm-6 pic">
            <a href="images/cl-1.jpg" class="photo wow fadeInUp">
              <img src="images/cl-1.jpg" class="img-responsive">
            </a>
          </div>
          <div class="col-md-4 col-sm-6 pic">
            <a href="images/cl-6.jpg" data-wow-delay="0.5s" class="photo wow fadeInUp">
              <img src="images/cl-6.jpg" class="img-responsive">
            </a>
          </div>
          <div class="col-md-4 col-sm-6 pic">
            <a href="images/cl-4.jpg" data-wow-delay="1s" class="photo wow fadeInUp">
              <img src="images/cl-4.jpg" class="img-responsive">
            </a>
          </div>
        </div>
      </div>
    </div><!-- section-gallery -->

    <div class="section section-gift" id="registries">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center wow fadeInDown">Gift registries</h1>
            <div class="sub-title text-center wow fadeInDown">The most important gift to us is to have you share our day.</div>
            <p class="text-center wow fadeIn">If you do wish to buy us a gift you can check out the registry lists below.
            Everything is very appreciated.</p>
          </div><!-- col-12 -->
          <div class="gift-partner">
            <div class="col-md-4 col-sm-4 col-xs-6 col-xs-offset-3 col-md-offset-4 col-sm-offset-4 wow fadeInUp">
              <a target="_blank" href="https://www.amazon.com/wedding/share/luizandcallie"><img src="assets/img/amazon.png" class="img-responsive"></a>
            </div>
            <!-- <div class="col-md-4 col-sm-4 col-xs-6 wow fadeInDown">
              <a href="#"><img src="assets/img/bed-bath-beyond.png" class="img-responsive"></a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp">
              <a href="#"><img src="assets/img/planet-eves.png" class="img-responsive"></a>
            </div> -->
          </div><!-- gift partner -->
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- section-gift -->

    <!-- Maps Section -->
    <div class="section section-map" id="map">
    </div><!-- section-map -->
    <script>
      function initMap() {
        var uluru = {lat: 39.051612, lng: -94.611361};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: uluru,
          styles: [{"stylers":[{"hue":"#ff61a6"},{"visibility":"on"},{"invert_lightness":true},{"saturation":40},{"lightness":10}]}]
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGxqmUPGlExFhcKEpvNzT9qoGJyYt_ZAQ&callback=initMap">
    </script>
    <!-- Maps Section Ends Here-->

    <div class="section section-story" id="story">
      <div class="container">
        <h1 class="text-center wow fadeInDown">Leave us a message</h1>
        <div class="text-center">
          <div class="fb-comments" data-href="http://mrandmrschagas.com" data-width="700" data-numposts="5"></div>
        </div>
      </div><!-- container -->
    </div><!-- section-story -->

    <div class="section section-rspv" id="rsvp" style="background-image: url('assets/img/pw_maze_white.png');">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
          <h1 class="text-center wow fadeInDown">Are you attending?</h1>
          <div class="sub-title text-center wow fadeInDown">We look forward to seeing you</div>
            <form id="rsvpForm" class="form wow fadeIn">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" name="guestName" id="guestName" class="form-control" placeholder="Your name *">
                  </div>
                </div><!-- col 6 -->
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="email" name="guestEmail" id="guestEmail" class="form-control" placeholder="Your email *">
                  </div>
                </div><!-- col 6 -->
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea name="guestMessage" id="guestMessage" class="form-control" placeholder="Your message *"></textarea>
                  </div>
                </div><!-- col 12 -->
                <div class="col-md-12">
                  <div id="submitMessage"></div>
                </div>
                <div class="col-md-12 text-center">
                   <a href="javascript:void(0)" id="rsvp-form-submit" class="btn btn-lg btn-primary disabled">Not Available Yet</a>
                </div>
              </div><!-- row -->
            </form>
          </div>
        </div>
      </div>
    </div><!-- section-rspv -->

    <div class="footer">
      <div class="container text-center">
        <p>&copy; 2017 - Website by <a target="_blank" href="https://luizjr.me/">Luiz</a></p>
      </div><!-- container -->
    </div><!-- footer -->

    <!-- Gallery -->
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
      <div class="slides"></div>
      <h3 class="title"></h3>
      <a class="prev">‹</a>
      <a class="next">›</a>
      <a class="close">×</a>
      <a class="play-pause"></a>
      <ol class="indicator"></ol>
    </div>

    <!-- back to top -->
    <a href="#" id="back-to-top">
      <img src="assets/img/top-icon.png">
    </a>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/plugins/jquery-2.2.4.min.js"></script>
    <script src="assets/plugins/jquery.easing.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/plugins/gallery-2.21.3/js/blueimp-gallery.min.js"></script>
    <script src="assets/plugins/parallax.js-1.4.2/parallax.min.js"></script>
    <script src="assets/plugins/wow/dist/wow.min.js"></script>
    <script src="assets/plugins/jquery-validation-1.15.0/dist/jquery.validate.min.js"></script>
    <script src="assets/plugins/sscr.js"></script>
    <script src="assets/js/default.js"></script>
    <script src="assets/js/contact.js"></script>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=1582914488648870";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
