    <div class="se-pre-con"></div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand visible-xs" href="#">The wedding</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a class="scrollto" href="#welcome">Welcome</a></li>
            <li><a class="scrollto" href="#ceremony">Ceremony</a></li>
            <li><a class="scrollto" href="#story">Our Story</a></li>
            <li><a class="scrollto" href="#gallery">Gallery</a></li>
            <li><a class="scrollto" href="#registries">Registries</a></li>
            <li><a class="scrollto" href="#rsvp">RSVP</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- header -->
    <header style="background-image: url('images/church2.jpg');" id="welcome">
      <div class="overlay"></div>
      <div class="container">
        <div class="intro-content">
          <div class="title text-center">The Wedding Ceremony of</div>
          <div class="brand text-center">
            <h1 class="wow fadeInDown">Luiz</h1>
            <div class="heart">
              <p class="and">&</p>
            </div>
            <h1 class="wow fadeInDown">Callie</h1>
          </div><!-- brand -->
          <div class="location text-center">Kansas City</div>
          <div class="date text-center">2018</div>
        </div><!-- intro-content -->
      </div><!-- container -->
    </header>


    <!--<div class="section section-parents">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="parents text-center wow fadeIn">
              <div class="title">Parents of the Groom</div>
              <h3>Mr. and Mrs. Smith</h3>
            </div><!-- parents -->
          <!--</div><!-- col 4 -->
          <!--<div class="col-md-6 col-sm-6">
            <div class="parents text-center wow fadeIn">
              <div class="title">Parents of the Bride</div>
              <h3>Mr. and Mrs. Brown</h3>
            </div><!-- parents -->
          <!--</div><!-- col 4 -->
        <!--</div><!-- row -->
      <!--</div><!-- container -->
    <!--</div><!-- section parents -->

    <div class="lead text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            We Cordially invite you to the wedding ceremony
          </div>
        </div>
      </div>
    </div><!-- lead -->

    <div class="section section-about" style="background-image: url('assets/img/pw_maze_white.png');">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="media media-about wow fadeInRight">
              <div class="media-body text-right">
                <div class="title">The Groom</div>
                <h2 class="media-heading">Luiz Chagas</h2>
                <p>
                  Luiz is a sweet, laid back, bright young man from Brazil. He enjoys sports, animals, and playing nerdy computer games. In his spare time he can be found hitting it hard at the gym or reading books about new up-in-coming computer languages. I call him my personal IT man. Although, he is a thinker to the max, don’t let his serious face foul you. He is a big goofball on the inside. I couldn’t have asked for a better man to spend my life with.
                </p>
              </div>
              <div class="media-right">
                <img class="media-object" src="images/groom-sq.jpg" alt="Picture of Luiz Chagas">
              </div>
            </div><!-- media -->
          </div><!-- col 6 -->
          <div class="col-md-6">
            <div class="media media-about wow fadeInLeft">
              <div class="media-left">
                <img class="media-object" src="images/bride-sq.jpg" alt="Picture of Callie Farrell">
              </div>
              <div class="media-body">
                <div class="title">The Bride</div>
                <h2 class="media-heading">Callie Farrell</h2>
                <p>
                 Callie is the sweetest girl in this world. Since the day I first met her I knew she was different,
                 you can feel happiness in her words and see kindness in how she treats other people. Callie also has the ability to be silly sometimes and
                 get the best laughs out of me. She has a strong type A personality and plans her whole life twice
                 daily. She's the leader you would want on your team.
                 What a lucky man I am!
                </p>
              </div>
            </div><!-- media -->
          </div><!-- col 6 -->
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- section -->

    <div class="section section-dates parallax-window" id="ceremony" data-parallax="scroll" data-image-src="assets/img/dates-bg.jpg">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="dates-info wow fadeIn">
              <div class="ceremony">Wedding</div>
              <div class="location">Kansas City<br />Our Savior Lutheran Church</div>
              <div class="day-month">Jan 13th</div>
              <div class="year">2018</div>
              <div class="time">10:00 a.m.</div>
            </div><!-- dates info -->
          </div><!-- col 6 -->
          <div class="col-md-6 col-sm-6">
            <div class="dates-info wow fadeIn">
              <div class="ceremony">Reception</div>
              <div class="location">Classic Cup Cafe<br />301 W 47th St.</div>
              <div class="day-month">Jan 13th</div>
              <div class="year">2018</div>
              <div class="time">11:00 a.m.</div>
            </div><!-- dates info -->
          </div><!-- col 6 -->
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- section-dates -->

    <div class="section section-story" id="story">
      <div class="container">
        <h1 class="text-center wow fadeInDown">Our Story</h1>
        <div class="sub-title text-center wow fadeInDown">As told by the couple</div>
        <div class="wow fadeIn">
          <div class="talk-bubble tri-right border btm-left-in">
            <div class="talktext luiz">
              <p>It was a normal day at K-State. Class had just ended and it was almost time for dinner. While leaving the classroom, I was discussing a group project with my friend Matt. We wanted to keep talking about it over dinner, however, he told me he had dinner plans. He was going to have dinner with people from his building, but he said it was fine if I came along.</p>
            </div>
          </div>
          <div class="talk-bubble tri-right border btm-right-in">
            <div class="talktext callie">
              <p>People from his building including the RA (aka me!). My first impressions about Luiz… He was nice… nothing special. However, I do remember we bonded over talking about old SNES games and similar tastes in music.</p>
            </div>
          </div>
          <div class="talk-bubble tri-right border btm-left-in">
            <div class="talktext luiz">
              <p>At first I thought Callie was a typical Kansas blonde girl (you know...country music, boots, etc). I was really surprised she liked alternative bands and the good ol’ Mortal Kombat. I sure wanted to know more about her.</p>
            </div>
          </div>
          <div class="talk-bubble tri-right border btm-right-in">
            <div class="talktext callie">
              <p>From this point on we became pretty good friends. We would eat meals together, go to the rec, hang out with our friend group, or sometime just spend some time together talking about life. I remember I would often do homework on my picnic blanket behind my building, and Luiz would come and join me after he got out of classes. We would sit and talk for hours.</p>
            </div>
          </div>
          <div class="talk-bubble tri-right border btm-left-in">
            <div class="talktext luiz">
              <p>Several months later, a free country concert was going to take place on campus, and I had a brilliant idea. I’ll ask her out! (Even though we didn’t love country music, it was free). So this concert was on a Friday evening and our plan was to eat dinner together at Derby dining center and walk there afterwards. Guess what? It got rained out and moved into a closed building with limited capacity. Needless to say that by the time we got there the line was huge and the building was full already.</p>
            </div>
          </div>
          <div class="talk-bubble tri-right border btm-right-in">
            <div class="talktext callie">
              <p>So I took a rain check, and the following week we went on a proper date. We went and saw a play on campus and went out for Froyo afterwards. But to be honest, I really didn’t see this relationship going anywhere. I just thought Luiz was a nice guy and why not go on a few dates with him. Hey, free food!</p>
            </div>
          </div>
          <div class="talk-bubble tri-right border btm-left-in">
            <div class="talktext luiz">
              <p>From here it’s just history. For some reason Callie kept on going out with me... Two and a half years later and we are still together. We’ve had our ups and downs, our time together and our time spent apart, but through all of this we have grown closer together. I can’t imagine life without her anymore.</p>
            </div>
          </div>
          <div class="talk-bubble tri-right border btm-right-in">
            <div class="talktext callie">
              <p>And I can’t imagine my life without him <i class="fa fa-heart"></i></p>
            </div>
          </div>
        </div>
      </div><!-- container -->
    </div><!-- section-story -->

    <!-- <div class="section section-gallery parallax-window" id="gallery" data-parallax="scroll" data-image-src="assets/img/gallery-bg.jpg"> -->
    <div class="section section-gallery" id="gallery" data-parallax="scroll" data-image-src="assets/img/gallery-bg.jpg">
      <div class="overlay overlay-light"></div>
      <div class="container text-center">
        <div class="row">
          <div class="col-md-12">
            <h1 class="wow fadeInDown">Gallery</h1>
            <div class="sub-title wow fadeInDown">Moments we have spent together</div>
          </div>
          <div class="col-md-4 col-sm-6 pic">
            <a href="images/cl-3.jpg" class="photo wow fadeInUp">
              <img src="images/cl-3.jpg" class="img-responsive">
            </a>
          </div>
          <div class="col-md-4 col-sm-6 pic">
            <a href="images/cl-5.jpg" data-wow-delay="0.5s" class="photo wow fadeInUp">
              <img src="images/cl-5.jpg" class="img-responsive">
            </a>
          </div>
          <div class="col-md-4 col-sm-6 pic">
            <a href="images/cl-2.jpg" data-wow-delay="1s" class="photo wow fadeInUp">
              <img src="images/cl-2.jpg" class="img-responsive">
            </a>
          </div>
          <div class="col-md-4 col-sm-6 pic">
            <a href="images/cl-1.jpg" class="photo wow fadeInUp">
              <img src="images/cl-1.jpg" class="img-responsive">
            </a>
          </div>
          <div class="col-md-4 col-sm-6 pic">
            <a href="images/cl-6.jpg" data-wow-delay="0.5s" class="photo wow fadeInUp">
              <img src="images/cl-6.jpg" class="img-responsive">
            </a>
          </div>
          <div class="col-md-4 col-sm-6 pic">
            <a href="images/cl-4.jpg" data-wow-delay="1s" class="photo wow fadeInUp">
              <img src="images/cl-4.jpg" class="img-responsive">
            </a>
          </div>
        </div>
      </div>
    </div><!-- section-gallery -->

    <div class="section section-gift" id="registries">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center wow fadeInDown">Gift registries</h1>
            <div class="sub-title text-center wow fadeInDown">The most important gift to us is to have you share our day.</div>
            <p class="text-center wow fadeIn">If you do wish to buy us a gift you can check out the registry lists below.
            Everything is very appreciated.</p>
          </div><!-- col-12 -->
          <div class="gift-partner">
            <div class="col-md-4 col-sm-4 col-xs-6 col-xs-offset-3 col-md-offset-4 col-sm-offset-4 wow fadeInUp">
              <a target="_blank" href="https://www.amazon.com/wedding/share/luizandcallie"><img src="assets/img/amazon.png" class="img-responsive"></a>
            </div>
            <!-- <div class="col-md-4 col-sm-4 col-xs-6 wow fadeInDown">
              <a href="#"><img src="assets/img/bed-bath-beyond.png" class="img-responsive"></a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp">
              <a href="#"><img src="assets/img/planet-eves.png" class="img-responsive"></a>
            </div> -->
          </div><!-- gift partner -->
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- section-gift -->

    <!-- Maps Section -->
    <div class="section section-map" id="map">
    </div><!-- section-map -->
    <script>
      function initMap() {
        var uluru = {lat: 39.051612, lng: -94.611361};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: uluru,
          styles: [{"stylers":[{"hue":"#ff61a6"},{"visibility":"on"},{"invert_lightness":true},{"saturation":40},{"lightness":10}]}]
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGxqmUPGlExFhcKEpvNzT9qoGJyYt_ZAQ&callback=initMap">
    </script>
    <!-- Maps Section Ends Here-->

    <div class="section section-story" id="story">
      <div class="container">
        <h1 class="text-center wow fadeInDown">Leave us a message</h1>
        <div class="text-center">
          <div class="fb-comments" data-href="http://mrandmrschagas.com" data-width="700" data-numposts="5"></div>
        </div>
      </div><!-- container -->
    </div><!-- section-story -->

    <div class="section section-rspv" id="rsvp" style="background-image: url('assets/img/pw_maze_white.png');">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
          <h1 class="text-center wow fadeInDown">Are you attending?</h1>
          <div class="sub-title text-center wow fadeInDown">We look forward to seeing you</div>
            <form id="rsvpForm" class="form wow fadeIn">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" name="guestName" id="guestName" class="form-control" placeholder="Your name *">
                  </div>
                </div><!-- col 6 -->
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="radio" name="guestChoice" value="yes"> I'm attending<br />
                    <input type="radio" name="guestChoice" value"no"> I'm not attending
                  </div>
                </div><!-- col 6 -->
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea name="guestMessage" id="guestMessage" class="form-control" placeholder="Your message *"></textarea>
                  </div>
                </div><!-- col 12 -->
                <div class="col-md-12">
                  <div id="submitMessage"></div>
                </div>
                <div class="col-md-12 text-center">
                   <a href="javascript:void(0)" id="rsvp-form-submit" class="btn btn-lg btn-primary disabled">Not Available Yet</a>
                </div>
              </div><!-- row -->
            </form>
          </div>
        </div>
      </div>
    </div><!-- section-rspv -->

    <div class="footer">
      <div class="container text-center">
        <p>&copy; 2017 - Website by <a target="_blank" href="https://luizjr.me/">Luiz</a></p>
      </div><!-- container -->
    </div><!-- footer -->

    <!-- Gallery -->
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
      <div class="slides"></div>
      <h3 class="title"></h3>
      <a class="prev">‹</a>
      <a class="next">›</a>
      <a class="close">×</a>
      <a class="play-pause"></a>
      <ol class="indicator"></ol>
    </div>

    <!-- back to top -->
    <a href="#" id="back-to-top">
      <img src="assets/img/top-icon.png">
    </a>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/plugins/jquery-2.2.4.min.js"></script>
    <script src="assets/plugins/jquery.easing.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/plugins/gallery-2.21.3/js/blueimp-gallery.min.js"></script>
    <script src="assets/plugins/parallax.js-1.4.2/parallax.min.js"></script>
    <script src="assets/plugins/wow/dist/wow.min.js"></script>
    <script src="assets/plugins/jquery-validation-1.15.0/dist/jquery.validate.min.js"></script>
    <script src="assets/plugins/sscr.js"></script>
    <script src="assets/js/default.js"></script>
    <script src="assets/js/contact.js"></script>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=1582914488648870";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
